{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/machine.css') }}" />
{% endblock %}
{% block javascript %}
    {% if config.DEBUG %}
    <script data-main="{{ url_for('static', filename='js/main') }}"
            src="{{url_for('static', filename='vendor/require.js') }}"></script>
    {% else %}
    <script data-main="{{ url_for('static', filename='js/main-build.js') }}"
            src="{{url_for('static', filename='vendor/require.js') }}"></script>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1>Machine Learning Examples</h1>
        <div id="view-controller">
            <a href="#" id="example-1" class="example-link">Example one</a> |
            <a href="#" id="example-2" class="example-link">Example two</a> |
            <a href="#" id="example-3" class="example-link">Example three</a>
        </div>
        <div id="machine-example1"></div>
        <div id="machine-example2"></div>
        <div id="machine-example3"></div>
    </div>
{% endblock %}
